.btn-salmon{
	background-color: rgb(240, 129, 129);
	padding:15px 20px;
	border-radius: 4px;
	color:white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	margin-top: 40px;
	padding-top: 6px;
	padding-bottom: 6px;
}