.card{
	padding:20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0,0,0,2);
	border-radius: 4px;
	flex-basis:200px ;
	background: #fdf0f6;
	margin-top: 5px;
}

.card img{
	border-radius: 5px;
	max-width:60%;
	margin-left: 5%;
	margin-right: 3%;
	max-height: 700px;
}

.card h3{
	flex-grow: 2;
	padding-left: 20px;
	font-size: 28px;
	font-weight: bold;
	align-items: flex-start;
	text-align: center;
	color:#f08181;
	background-color:#fdf0f6 ;
}


.intro-city{
	flex-flow: row wrap;
	background:#fbf9fa;
	border-radius: 4px;
	padding: 20px;
	margin: auto;
	width: 40%;
	box-shadow: 0px 20px 30px grey;
	margin-top: 5px;
	margin-bottom: 15px;
}

.monuments{
	padding:20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0,0,0,2);
	border-radius: 4px;
	flex-basis:200px ;
	flex-direction: row-reverse;
	background: #fdf0f6;
	text-align: center;
	margin-top: 5px;
}

.card-monument{
	flex-flow: row wrap;
	background: #fbf9fa;
	max-width:90%;
	border-radius: 4px;
	padding-right: 30px;
	padding-left: 30px; 
	padding-bottom: 40px;
	margin-right: 10px;
	margin-top: 0px;
	text-align: center;
	box-shadow: 0px 20px 30px grey;
}


.card-monument img{
	max-width:70%;
	border-radius: 5px;
}

.card-monument h3{
	font-size: 28px;
	text-align: center;
	align-items: flex-start;
	color:#f08181;
	background-color:#fdf0f6;
	margin-left: 15%;
	margin-right: 15%;
}

.card-monument p{
	text-align: justify;
}

.typeform-widget{
	margin-top: 5px;
}

.follow{
	background: #fdf0f6;
	padding-top: 5px;
	padding-bottom: 100px;
	padding-left: 50px;
	padding-right: 50px;
	box-shadow: 0px 15px 40px grey;
	text-align: center;
	margin-top: 0px;
}

.follow h2{
	font-size: 25px;
	color: #f08181;

}

.follow ul {
	list-style-type: none;
}

.follow ul {
	float:left;
	width:100%;
	padding:0;
	margin:0;
	list-style-type:none;
}

.follow li { 
	display:inline;
}  

@media (max-width: 720px) {
	.card {
		
		flex-flow: row wrap;
		
	}
	.card img{
		max-width:100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.intro-city{
		width: 100%;
	}

}
